{% extends 'views/layout/layout.html' %}

{% block css %}
  <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block javascript %}
  <script>
    PAGE_MODE = '{{ data.page }}';
  </script>

{% endblock %}

{% block content %}
  <div class="content">
    <div>
      Current Room Temperature - <span id="temp_val" style="color: aqua;"> 33 °C </span> 
    </div>
    <br/><br/>
    <i>The temperature is updated from ESP32 to AWS cloud server</i>
    <br/><br/>
    <hr style="background-color: white"/>
    <div>
      Room Temperature can be seen from Anywhere across Internet<br/>
      Hardware - ESP32, DS18B20 temperature sensor <br/>
      Programming - Python (Flask), Pickle(Storage), Jquery, HTML, CSS <br/>
      Server - AWS (Amazon)
    </div>

  </div>

  <script src="/static/js/index.js"></script>

{% endblock %}