{% extends 'views/layout/layout.html' %}

{% block css %}
  <link rel="stylesheet" href="/static/css/upload.css">
{% endblock %}

{% block javascript %}
  <script>
    PAGE_MODE = '{{ data.page }}';
  </script>

{% endblock %}

{% block content %}
  <div class="content">
    <div id="file_content">
      <input type="file" id="photo" onchange="preview(this);" required>
      <span>
        <button class="btn btn-success" onclick="upload()">Upload</button>
        <button class="btn btn-danger" onclick="clear_img()">Clear</button>
      </span>
    </div>
    <div id="preview">
      <img id="preview_img" src="" alt="Image will appear after you select">

      <div id="caution">
        We don't allow to upload personal images <br>
        We only allow to upload the images that related to Revolution 2021
      </div>
    </div>    

  </div>

  <script src="/static/js/upload.js"></script>

{% endblock %}