<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no minimum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/flag.ico">

    <title>2021 Myanmar Revolution</title>

    <!-- Custom styles for this template -->
    {% block css %}{% endblock %}
    <!-- Bootstrap core CSS -->
    <link href="/static/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/layout.css" rel="stylesheet">
    
    <!-- library js -->
    <script src="/static/js/lib/jquery-3.5.1.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/lib/sweetalert2@10.js"></script>

    <!-- python api call -->
    <script type=text/javascript>
      $HOST_API = {{ request.script_root|tojson|safe }};
    </script>

    <!-- Custom js  -->
    <script src="/static/js/constants.js"></script>
    <script src="/static/js/layout.js"></script>
    {% block javascript %}{% endblock %}

  </head>
  <body>
    <div class="body_wrapper">
      <div class="header">
        <div class="header_text">
          Myanmar Revolution 2021
        </div>
        <div class="header_action">
          <span>About</span>
        </div>
      </div>

      <hr style="background-color: white"/>

      {% block content %}{% endblock %}  
      
    </div>
    
    <div class="footer">
      <span> Copyright @ All Right Reserved, Gen-Z Junior Team</span>
    </div>

  </body>
</html>